p{
	 font-size: 20px;
	 font-family: 'Arial';
}

a:link {
	font-size: 30px;
	font-family: Arial Black;
	color: white;
}
a:hover {
	font-size:33px;
} 
a:visited {
	color: white;
}
body {
	text-align: center;
	background-color: #bd9be8;
	color: black;
	height: 100%;
}

img {
	width: 100%;
	text-align: center;
}

li:before { 
  content: '✧ '; 
  color: #3e9e69;
  }

.image-swap .img-hover {
    display: none;
}

.image-swap:hover .img-default {
    display: none;
}

.image-swap:hover .img-hover {
    display: block; 
}

.animated-rainbow-text {
    font-size: 42px;
    font-family: Arial Black, Gadget, sans-serif;
    animation: rainbow-color-change 7s linear infinite alternate;
}
@keyframes rainbow-color-change {
    0%, 100% { color: #fa52db; } 
    14% { color: #fa5269; } 
    28% { color: #fae652; } 
    42% { color: #82fa52; }
    56% { color: #52faf7; } 
    70% { color: #7177f5; } 
    84% { color: #9653ed; } 
}

.side-by-side {
  display: flex; /* Aligns child elements in a row */
  justify-content: center; /* Centers the images horizontally (optional) */
  gap: 10px; /* Adds space between images (optional, modern approach) */
}
